.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  gap: 2rem;
  margin: 2rem;
}

.App * {
  padding: 0.3rem;
}

.Dashboard { 
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(182, 180, 180);
}

.WebsiteVisitors {
  grid-area: 2 / 2 / 3 / 5;
  background-color: rgb(182, 180, 180);
}

.Reviews {
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(182, 180, 180);
}

.AverageRating {
  grid-area: 1 / 3 / 2 / 4;
  background-color: rgb(182, 180, 180);
}

.SentimentAnalysis {
  grid-area: 1 / 4 / 2 / 5;
  background-color: rgb(182, 180, 180);
}
